<template name="search">


    <div class="container">


        <div class="row">
            <div class="col-md-12 text-center">

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i> </span>
                    {{> EasySearch.Input  index=playersIndex attributes=inputAttributes }}

                </div>

                {{#EasySearch.IfInputEmpty index=playersIndex}}
                    <h3>Start searching!</h3>
                {{/EasySearch.IfInputEmpty}}

                <br>

                {{#EasySearch.Each index=playersIndex }}
                    {{#if status}}
                    {{else}}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{jobname}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-9" style="text-align: left;">
                                        Job Area: {{jobarea}}<br />
                                        Delivery Area: {{deliveryarea}}<br/>
                                        Complete Work Within: {{remaining}}<br />
                                        <a href="/my-profile/{{postedby}}" class="btn btn-warning"><i class="fa fa-user-circle-o"></i> View Job Poster</a>
                                        <a href="/jobs-detail/{{_id}}" class="btn btn-warning"><i class="fa fa-book"></i> View Job Description</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {{/if}}
                {{/EasySearch.Each}}
            </div>
        </div>
    </div>



</template>