<template name="jobDetail">
    <div class="container">
        <label for="" id="jid" style="display:none">{{_id}}</label>
        <h2>{{jobname}}</h2>
        <p>Description: {{jobdescription}}</p>
        <p>Wage: {{wage}}</p>
        <p>Job Location: {{joblocation}}</p>
        <p>Job Area: {{jobarea}}</p>
        <p>Delivery Area: {{deliveryarea}}</p>
        <p>Delivery Address: {{deliveryaddress}}</p>
        <p>Remaining: {{remaining}}</p>
        <p>Created At: {{createdAt}}</p>
    </div>
</template>
