<template name="jobDetail">
    <div class="container">
        <label for="" id="jid" style="display:none">{{_id}}</label>
        <h2>{{jobname}}</h2>
        <p>Description: {{jobdescription}}</p>
        <p>Wage: {{wage}}</p>
        <p>Job Location: {{joblocation}}</p>
        <p>Job Area: {{jobarea}}</p>
        <p>Delivery Area: {{deliveryarea}}</p>
        <p>Delivery Address: {{deliveryaddress}}</p>
        <p>Deliver Within: {{remaining}}</p>
        <p>Posted On: {{createdAt}}</p>
    </div>


    <script>
        // Set the date we're counting down to

    </script>

</template>
